


.sizefecha{
  width: 90px;
}

.sizehora{
  width:40px;
}

.sizenumsap{
  width: 80px;
}

.sizename{
  width: 130px;
} 

.sizefac{
  width: 160px;
}




/* 
#tabla_manu th{
    width: 300px;
   
    border: 1px solid;
  } */