


.sizefecha{
  width: 90px;
}

.sizehora{
  width:40px;
}

.sizenumsap{
  width: 80px;
}

.sizename{
  width: 130px;
} 

.sizeaalmacen{
  width:110px ;
}

.sizenameguia{
  width:116px;
}

.sizefac{
  width: 165px;
}




/* 
#tabla_manu th{
    width: 300px;
   
    border: 1px solid;
  } */